<div class="container my-5 py-5">
  <div class="card col-lg-5 col-md-5 col-sm-10 mx-auto">
    <div class="card-body text-center">

      <!-- Success status icon -->
      <div class="status mx-auto mb-3 d-flex justify-content-center align-items-center">
        <i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg>
        </i>
      </div>

      <div class="fs-4">
        Order Placed Successfully!
      </div>
      <div class="lead">
        Thank you for ordering from Pizzeriaa. Your order will be delivered soon.
      </div>
      <div>
        <a routerLink="/orderpizza" class="btn btn-dark text-warning my-3">Continue Shopping</a>
      </div>
    </div>
  </div>
</div>
