.status {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #28a745; /* green circle */
  color: white;
  font-size: 2rem;
}

.status svg {
    width: 40px;
    height: 40px;
    color: white;
}

.containerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
