<div class="container my-5 py-5">
    <h2 class="text-center">Our Story</h2>
    <p>
        We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up with wacky and 
        fun excuses. The person with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan 
        Pizza is the Tastiest Pan Pizza. Ever!
    </p>
    <p>
        Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. 
        They have been leaving the stage in the middle of a performance and even finding excuses to be disqualified in a football match.
    </p>
    <p>
        We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up with wacky and fun excuses. The person 
        with the best excuse won the Best Excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. 
        Ever!
    </p>

    <div class="mt-4 row align-items-center">
        <div class="col-md-5 col-lg-5 col-sm-12 col-12 mt-2">
            <img class="ingredient-image" src="https://st2.depositphotos.com/1177973/7339/i/450/depositphotos_73395193-stock-photo-food-ingredients-for-pizza.jpg" alt="Our Story Image">
        </div>
        <div class="col-md-7 col-lg-7 col-sm-12 col-12 ms-auto">
            <h2>Ingredients</h2>
            <p>
                We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight from the farm), or steaming a baby (carrot). 
                Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While they're still young and fresh - that's our motto. It makes the kitchen a better place.
            </p>
        </div>
    </div>

    <div class="mt-4 row align-items-center">
        <div class="col-md-7 col-lg-7 col-sm-12 col-12 ms-auto">
            <h2>Our Chefs</h2>
            <p>
                They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and stirring spoons (among other things). 
                They make goodness so good, it doesn't know what to do with itself. We do though. We send it to you.
            </p>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-12 col-12 mt-2">
            <img class="chef-image" src="https://media.istockphoto.com/photos/world-famous-restaurant-asian-female-chef-cooking-delicious-and-food-picture-id1391236717?b=1&k=20&m=1391236717&s=170667a&w=0&h=B--OafhAb1wrpgIeJ9qcyuafPw0mXPSUdgzY9sB7Jm0=" alt="Our Story Image">
        </div>
    </div>

    <div class="mt-4 row align-items-center">
        <div class="col-md-5 col-lg-5 col-sm-12 col-12 mt-2">
            <img class="clock-image" src="/assets/images/clock.png" alt="Our Story Image">
        </div>
        <div class="col-md-7 col-lg-7 col-sm-12 col-12 ms-auto">
            <h2>45 min delivery</h2>
        </div>
    </div>
</div>
<router-outlet></router-outlet>